div {
  background-color: black;
  border: solid red 10px;
  color: #fff;
  /* padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; */

  /* padding in short */
  padding: 10px;

  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 10px;
}
