/* * {
  border-style: solid;
  border-color: red;
}

p {
  border-style: dotted;
}

div {
  border-style: dashed;
} */

h1 {
  /* we can do it each one differently */
  /* border-style: solid;
  border-color: cyan;
  border-width: 10px; */

  border: 10px solid cyan;

  outline-offset: 10px;
  outline-style: dashed;
  outline-width: 10px;
  outline-color: black;
}
