h1 {
  font-size: 100px;
  font-family: Satisfy, Times, serif;
  font-weight: bolder;
  font-style: italic;
  font-variant: small-caps;
}

p {
  line-height: 1.6;
  word-spacing: 2px;
  letter-spacing: 1px;
}
