<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Learning difference between inline and block elements</h1>
    <div style="background-color: blue">block</div>
    <p style="background-color: yellow">block</p>
    <span style="background-color: red">inline</span>
    <button style="background: purple">inline</button>
  </body>
</html>
